name: Build & Deploy
on: 
  push:
    branches:
        - development
        - main

  pull_request:
    types:
        - closed
jobs:

    build:
        runs-on: ubuntu-latest
        steps:
         - name: Get code
           uses: actions/checkout@v3

         - name: Setup node
           uses: actions/setup-node@v3
           with:
              node-version: 18

         - name: Install Dependencies
           run: npm ci

         - name: Build Project
           run: npm run build && echo 'Build successful'